.pages-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $qa-tool-light-grey;
  max-height: 100%;

  .pages-sidebar__site-status {
    width: 14px;
    height: 14px;
    align-self: flex-end;
    margin: 14px 14px 0 0;

    border-radius: 50%;
    background: $qa-tool-light-grey-2;

    &--ok {
      background: $qa-tool-green;
    }

    &--not-ok {
      background: $qa-tool-red;
    }
  }

  .pages-sidebar__site-name {
    margin: 14px 0;
  }

  .pages-sidebar__delete-site {
    color: $qa-tool-red;
    text-decoration: underline;
  }

  .pages-sidebar__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    margin-top: 20px;
  }

  &__comparison-text {
   margin-top: 12px;
  }
}

.pages-list {
  width: 90%;
  margin-top: 20px;
  border-top: solid 1px $qa-tool-light-grey;
  height: 70%;

  .pages-list__failing-tab {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: $qa-tool-grey;
    border-bottom: solid 1px $qa-tool-light-grey;
    margin-bottom: 5px;

    &--selected {
      color: $qa-tool-blue-2;
      border-bottom-color: $qa-tool-blue-2;
    }

    &:hover {
      border-bottom-color: $qa-tool-blue-2;
      cursor: pointer;
    }
  }

  .pages-list__add-page {
    display: flex;
    margin-bottom: 5px;

    .pages-list__add-page-input {

    }

    &-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      //border-right: .5px;
    }

    &-input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__trim-pages-button {
    width: 100%;
  }

  .pages-list__pages {
    height: 74%;
    overflow: auto;
    direction: rtl;
    padding: 0 4px;
    margin-top: 5px;

    .pages-list__page {
      display: flex;
      align-items: flex-end;
      height: 32px;
      direction:ltr;
      cursor: pointer;

      border-bottom: 1px solid $qa-tool-light-grey;

      &--underlined {
        border-bottom-color: $qa-tool-blue-2;
        color: $qa-tool-blue-2;
      }

      &:hover {
        border-bottom-color: $qa-tool-blue-2;
      }

      .pages-list__page-url {
        white-space: nowrap;
        overflow: hidden;
        margin-right: auto;
      }

      .pages-list__page-menu-button {
        padding-bottom: 4px;
      }
    }
  }

  .pages-list__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 5px;
  }
}