.pages-settings {
  display: flex;
  flex-direction: column;

  &__import-export {
    display: flex;
    column-gap: 10px;
    margin-bottom: 5px;
    justify-content: space-between;

    button {
      flex-grow: 1;
    }
  }

  &__add-wp-admin-pages {
    margin-bottom: 5px;
  }
}