.site-card {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  margin: 0 10px 10px 10px;
  border: 1px solid $qa-tool-light-grey-2;
  padding: 10px 20px;

  &--loading {
    border-image: linear-gradient(0deg, $qa-tool-blue, white) 1;
    border-width: 2px;
    background: white;
    position: relative;
    animation: pulse 2s linear infinite;
  }

  @keyframes pulse {
    @for $i from 0 through 100 {
        #{$i * 1%} {
            border-image: linear-gradient(#{$i * 3.6deg}, $qa-tool-blue, $qa-tool-light-grey-2) 1;
        }
    }
  }

  .site-card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;

    .site-card__name {
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 0;
    }
  }

  .site-card__info {
    margin-bottom: 10px;

    & > *:first-child {
        margin-right: 8px;
      }
  }

  .site-card__site-status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 13px 0;

    .site-card__status {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--passing > * {
        color: $qa-tool-green;
      }

      &--loading > * {
        color: $qa-tool-amber;
      }

      &--failing > * {
        color: $qa-tool-red;
      }
    }
  }

  .site-card__buttons {
    display: flex;
    justify-content: space-between;

    & > * {
      flex-grow: 1;
    }

    & > *:first-child {
      margin-right: 10px;
    }
  }
}