.sites {
  padding: 0 18px;

   .sites__cards {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
     padding-top: 15px;
   }

  .sites__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0 10px;
  }
}
