.screenshot {
  display: grid;
  grid-template-rows: 50px 1fr 41px;
  min-height: 0;
  width: 436.5px;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;

  .ant-card-head {
    border-bottom: $qa-tool-light-grey-2 1px solid;
    margin-bottom: 0;
  }

  .ant-card-cover {
    min-height: 0;
    .screenshot__loading {
      display: flex;
      align-items: flex-start;
      height: 100%;
    }

    .screenshot__image-container {
      height: 100%;
      overflow: auto;

      img {
        width: 100%;
        border-radius: 0;
      }
    }
  }

  .ant-card-body {
    display: none;
  }

  .ant-card-actions {
    border-top: $qa-tool-light-grey-2 1px solid;

    .anticon {
      display: flex;
      justify-content: center;
    }
  }

  .screenshot__menu {
    display: none;
    position: absolute;
    top: 79px;
  }

  .screenshot__menu--open {
    display: block;
  }
}