.nav-bar {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;
  padding: 0 35px;
  border-bottom: $qa-tool-light-grey 1px solid;

  .nav-bar__register-button {
    margin-left: 8px;
  }

  .nav-bar__search-bar {
    width: 355px;
    flex-shrink: 0;
    margin-left: 8px;
  }
}