$qa-tool-blue: #096DD9;
$qa-tool-blue-2: #1890FF;
$qa-tool-grey: #595959;
$qa-tool-light-grey: #F0F0F0;
$qa-tool-light-grey-2: #D9D9D9;
$qa-tool-green: #52C41A;
$qa-tool-red: #FF4D4F;
$qa-tool-amber: #FAAD14;